<table>
  <caption>Ofertas de trabajo</caption>
  <thead>
  <tr>
    <th>Puesto</th>
    <th>Empresa</th>
    <th>Familia profesional</th>
    <th>Fecha</th>
    <th>Provincia</th>
    <th>Acciones</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let offer of offers">
    <td>{{offer.job.name}}</td>
    <td>{{offer.company.name}}</td>
    <td>{{offer.category.name}}</td>
    <td>{{offer.date}}</td>
    <td>{{offer.province.name}}</td>
    <td><a routerLink="detail">Ver</a></td>
  </tr>
  </tbody>
</table>
