<form [formGroup]="forgottenPasswordForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <div>
            <p>Para recuperar tu contraseña indica tu correo electrónico:</p>
        </div>
        <label for="email">Email:</label>
        <input id="email" type="email" formControlName="email" class="form-control">
    </div>
    <button type="submit">Recuperar</button>

    <div *ngIf="( isForgottenPasswordRequested$ | async )">
        <p>En breve recibirás un e-mail con la url para restaurar la contraseña</p>
    </div>
</form>
