<table mat-table [dataSource]="offers$">
    <ng-container matColumnDef="job">
        <th mat-header-cell *matHeaderCellDef> Puesto</th>
        <td mat-cell *matCellDef="let offer"> {{ offer.job.name }} </td>
    </ng-container>
    <ng-container matColumnDef="company">
        <th mat-header-cell *matHeaderCellDef> Puesto</th>
        <td mat-cell *matCellDef="let offer"> {{ offer.company.name }} </td>
    </ng-container>
    <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef> Familia</th>
        <td mat-cell *matCellDef="let offer"> {{ offer.category.name }} </td>
    </ng-container>
    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Fecha</th>
        <td mat-cell *matCellDef="let offer"> {{ offer.date }} </td>
    </ng-container>
    <ng-container matColumnDef="province">
        <th mat-header-cell *matHeaderCellDef> Provincia</th>
        <td mat-cell *matCellDef="let offer"> {{ offer.province.name }} </td>
    </ng-container>
    <ng-container matColumnDef="municipe">
        <th mat-header-cell *matHeaderCellDef> Municipio</th>
        <td mat-cell *matCellDef="let offer"> {{ offer.municipe.name }} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones</th>
        <td mat-cell *matCellDef="let offer">
            <a mat-button color="primary" style="cursor:pointer" [routerLink]="['/admin/offers/', offer.id]">Ver
                Detalle</a>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
</table>
